@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}
.border1{
	border-collapse: collapse;
	border: 2px solid;
	border-color: black;
}
.backgrounds{
	background-color: Yellow;

}
th, td{
	border: 1px solid;
}
.table{
	display:none;
}